.header {
/*  border: 1px solid #E5BC41;*/
  display: flex;
  justify-content: space-between;
  height: 100px;
  flex-direction: column;
}

.favorites-button-div {
/*  border: 1px solid #E5BC41;*/
  background-color: #E5BC41;
  height: 30%;
  width: 13.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorites-button {
  background: #e6bc42;
  border: none;
}

h1 {
  color: #E5BC41;
}


