.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  flex-direction: row;
}

.favorites-button-div {
  background-color: #E5BC41;
  height: 30%;
  width: 13.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

.favorites-button {
  background: #e6bc42;
  border: none;
}

img {
  padding: 5%;
/*  background-image: url(swapi-box-logo.png);*/
/*  font-family: 'Carrois Gothic', sans-serif;
  font-size: 18px;*/
/*  font-family: 'Pathway Gothic One', sans-serif;*/
/*  color: #E5BC41;*/
  margin-left: 2%;
}


