.button-nav {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  background: #e6bc42;
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 20px;
  width: 15%;
  height: 40%;
  border: none;
}

